{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account" %}{% endblock %}

{% block content %}

    <h1>{% trans "E-mail Addresses" %}</h1>

    <form action="{% url 'account_email' %}" class="email_list" method="post">
    {% csrf_token %}
    <fieldset class="blockLabels">

      {% for emailaddress in user.emailaddress_set.all %}
    <div class="ctrlHolder">

    <p class = 'poem-text'>You registered with {{ emailaddress.email }} | {% if emailaddress.verified %} verified {% else %} unverified {% endif %}.
Your email must be verified before you can post poetry.</p>

    </div>
      {% endfor %}

    <div class="buttonHolder">
        <p><input class="primaryAction" type="submit" name="action_send" value="{% trans 'Resend Verification' %}"></p>
    </div>

    </fieldset>
    </form>

{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
