<head>
	<script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script type="text/javascript">
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');
		function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});
	</script>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static './poem/style/main.css' %}">
	<title>{% block title %} PoemRad.io {% endblock %}</title>
</head>
<body>
	<div class = "frame">
		<div class = "container col-xs-6 col-xs-offset-3" >
			{% block poemContent %}
			<div class = "poemContent" data-pk="-1">

				<h1></h1>

			</div>
			{% endblock %}
		</div>
	</div>

	<div class = "col-md-offset-4 col-md-4">
		<button class="text-center btn btn-default" id='next'>Next</button>
	</div>
	<script type="text/javascript">
				var nextBtn = $('#next'),
				username = '{{ request.user }}',
				container = $(".container"),
				vote = 0,
				windowVar = $(window),
				buttonClass = '.vote-btn',
				poemID = $('.poemContent').data('pk');
				function requestPoem(poemID, loc) {
						var baseURL = '';
						return baseURL + poemID + " " + loc;
					}
				function changeVote(btnObj) {
					vote = btnObj.data('vote')
				}
				function voteListener(buttonClass) {
					buttonClassVar = $(buttonClass); //Initial queue, provided in request
					buttonClassVar.on('click', function() {
						changeVote($(this));
					})
				}
				function markRead() {
					end = new Date()
					data = {'poemID': poemID, 'start': start.getTime(), 'end': end.getTime(), 'vote': vote, 'username': username}
					$.post("/markRead", data);
					console.log(data);
					vote = 0

				}
	</script>
	{% block mainCode %}
	      <!-- Code specific to the page -->
	{% endblock %}
</body>
