<head>
	{% load staticfiles %}
	<script src="{% static './poem/js/jquery.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static './poem/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static './poem/style/main.css' %}">
	<title>{% block title %} PoemRad.io {% endblock %}</title>
<script type="text/javascript">
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');
		function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});
	</script>
	
</head>
<body>

	<div id = "menu" class = "navbar navbar-fixed-top">
		<div class = "row">
			<div class = "col-xs-3 top">
				<a href="./"><p>PoemRad.io</p></a>
			</div>
			<div class = "col-xs-3 top">
				<a href="./submit"><p>Submit poetry</p></a>
			</div>
			<div class = "col-xs-3 top">
				<a href = ./signup><p>Sign up</p></a>
			</div>
			<div class = "col-xs-3 top">
				<a href = "./login"><p>Log in</p></a>
			</div>
		</div>
	</div>
	<div class = "frame">
		
		<div class = "container col-xs-10 col-xs-offset-1" >
			{% block poemContent %}
			<div class = "poemContent" data-pk="-1">

				<h1></h1>
				<!-- <p>PoemRad.io operates uses Javascript to show you the poems you want to see.  Make sure to <a href = "http://www.enable-javascript.com">enable Javascript.</a>  There have also been bugs using Apple's Safari browser.</p> -->

			</div>
			{% endblock %}
		</div>
	</div>
	{% block navBar %}

	{% endblock %}
	<script type="text/javascript">
		var nextBtn = $('#next'),
		username = '{{ request.user }}',
		container = $(".container"),
		vote = 0,
		windowVar = $(window),
		buttonClass = '.vote-btn',
		poemID = $('.poemContent').data('pk');
		function requestPoem(poemID, loc) {
				var baseURL = './';
				return baseURL + poemID + " " + loc;
			}
		function changeVote(vt){
			if(vt == 1){
				$('.downvote').removeClass("pressed");
				$('.upvote').addClass("pressed");
			}
			else if(vt == -1){
				$('.downvote').addClass("pressed");
				$('.upvote').removeClass("pressed");
			}
			else{
				$('.downvote').removeClass('pressed');
				$('.upvote').removeClass('pressed');
			}
			return vt;
		}
		function voteListener(buttonClass) {
			buttonClassVar = $(buttonClass); //Initial queue, provided in request
			buttonClassVar.on('click', function() {
				vote = changeVote($(this).data('vote'));
			})
		}
		function markRead() {
			end = new Date()
			data = {'poemID': poemID, 'start': start.getTime(), 'end': end.getTime(), 'vote': vote, 'username': username}
			$.post("./markRead", data);
			console.log(data);
			vote = changeVote(0);

		}
	</script>
	{% block mainCode %}
	      <!-- Code specific to the page -->
	{% endblock %}
</body>
