<head>
	<script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script type="text/javascript">
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');
		function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});
	</script>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static './poem/style/main.css' %}">
	<title>{% block title %} PoemRad.io {% endblock %}</title>
</head>
<body>

	<div id = "menu" class = "navbar navbar-fixed-top">
		<div class = "row">
			<div class = "col-xs-3 top">
				<a href="./"><p>PoemRad.io</p></a>
			</div>
			<div class = "col-xs-3 top">
				<a href="./submit"><p>Submit a poem</p></a>
			</div>
			<div class = "col-xs-3 top">
				<a href = ./signup><p>Sign up</p></a>
			</div>
			<div class = "col-xs-3 top">
				<a href = "./login"><p>Log in</p></a>
			</div>
		</div>
	</div>
	<div class = "frame">
		
		<div class = "container col-xs-10 col-xs-offset-1" >
			{% block poemContent %}
			<div class = "poemContent" data-pk="-1">

				<h1></h1>

			</div>
			{% endblock %}
		</div>
	</div>
	{% block navBar %}

	{% endblock %}
	<script type="text/javascript">
				var nextBtn = $('#next'),
				username = '{{ request.user }}',
				container = $(".container"),
				vote = 0,
				windowVar = $(window),
				buttonClass = '.vote-btn',
				poemID = $('.poemContent').data('pk');
				function requestPoem(poemID, loc) {
						var baseURL = '';
						return baseURL + poemID + " " + loc;
					}
				function voteListener(buttonClass) {
					buttonClassVar = $(buttonClass); //Initial queue, provided in request
					buttonClassVar.on('click', function() {
						vote = $(this).data('vote');
					})
				}
				function markRead() {
					end = new Date()
					data = {'poemID': poemID, 'start': start.getTime(), 'end': end.getTime(), 'vote': vote, 'username': username}
					$.post("/markRead", data);
					console.log(data);
					vote = 0

				}
				function nextPoem(queue, nextQueue, queueRequested) {
					markRead();
					poemID = queue.pop();
					console.log("current queue:", queue)
					console.log("next queue:", nextQueue)

					if (queue.length == 0) {
						queue = nextQueue;
						nextQueue = [];
					}

					container.fadeOut(300, function () {
						container.load(requestPoem(poemID, ".poemContent"), function( ) {
										container.fadeIn(300);
										start = new Date()
										voteListener(buttonClass)
									});
					})
					
					if ((queue.length == 3)&&(!queueRequested)) {
						queueRequested = true;
						$.getJSON('user/' + username + '/getQueue', function (data) {
							queueRequested = false;
							username = data['username'];
							nextQueue = data['queue'];
							console.log("HEY", nextQueue);
							return [queue, nextQueue, queueRequested];
						} )
					}
					return [queue, nextQueue, queueRequested];
				}
	</script>
	{% block mainCode %}
	      <!-- Code specific to the page -->
	{% endblock %}
</body>
