{% extends "poem/base.html" %}

{% block title %}PoemRad.io{% endblock %}

{% block mainCode %}

<script type="text/javascript">
	(function(){
				var queue = {{ queue }},
				nextQueue = [],
				queueRequested = false;

				container.fadeOut(200, function () {
								poemID = queue.pop()
								start = new Date()
								container.load(requestPoem(poemID, ".poemContent"), function( ) {
										voteListener(buttonClass)
										container.fadeIn(200);
									});
							});	
				
				nextBtn.on('click', function () {
					markRead();
					poemID = queue.pop();
					console.log("current queue:", queue)
					console.log("next queue:", nextQueue)

					if (queue.length == 0) {
						queue = nextQueue;
						nextQueue = [];
					}
					if ((queue.length == 3)&&(!queueRequested)) {
						queueRequested = true;
						$.getJSON('user/' + username + '/getQueue', function (data) {
							queueRequested = false;
							username = data['username'];
							nextQueue = data['queue'];
						} )
					}
					container.fadeOut(300, function () {
						container.load(requestPoem(poemID, ".poemContent"), function( ) {
										container.fadeIn(300);
										start = new Date()
										voteListener(buttonClass)
									});
					})
					
				})
			})();
		</script>

{% endblock %}