<head>
	<script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script type="text/javascript">
		function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');
		function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}
		$.ajaxSetup({
		    beforeSend: function(xhr, settings) {
		        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});
	</script>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static './poem/style/main.css' %}">
	<title>PoemRad.io</title>
</head>
<body>
	<div class = "frame">
		<div class = "container" >
			<div class = "poemContent" data-pk="-1">
				<h1>Begin...</h1>
			</div>
		</div>
	</div>
	<div class = "col-md-offset-4 col-md-4">
		<button class="text-center btn btn-default" id='next'>Next</button>
	</div>
	<script type="text/javascript">
		(function(){
			function refreshVotes(poemID, selector) {
				$.getJSON("poem/json/"+poemID, function(data) {
						var firstVoteField = $(selector).first();
						firstVoteField.text(" " + data['downvotes'] + " ").next().text(" " + data['upvotes'] + " ");
					});
					return data;
			};
			function saveVote(btn, currentPoemID, voteType, value, func) {
				// btn is usually "this" in the onclick event
				// types: upvote, downvote
				$.post("poem/vote", data = {vote: value, poemID: currentPoemID, type: voteType}, func);
			}
			function requestPoem(poemID, loc) {
					var baseURL = 'http://127.0.0.1:8000/poem/';
					return baseURL + poemID + " " + loc;
				}
			function handleVotes(buttonClass, statsClass) {
				var upvoted = false,
				downvoted   = false,
				stdChange   = 1;
			
				$(buttonClass).on('click', function() {
					console.log("click");
					var currentPoemID = $('.poemContent').data('pk'),
						voteBtn  = $(this),
						voteType = voteBtn.data('vote');
					if (upvoted === false && downvoted == false) {
						saveVote(voteBtn, currentPoemID, voteType, stdChange, function () {
							refreshVotes(currentPoemID, statsClass);
							if (voteType == "upvote") {
							    upvoted   = true;
							}
							else { 
								downvoted = true;
							};
						});
					}
					else if (voteType == "upvote" && upvoted == false && downvoted == true) {
						saveVote(voteBtn, currentPoemID, voteType, stdChange, function () {
							upvoted = true;
							saveVote(voteBtn, currentPoemID, "downvote", -stdChange, function () {
								downvoted = false;
								refreshVotes(currentPoemID, statsClass);
						});
						});
						
					}
					else if (voteType   == "downvote" && upvoted == true && downvoted == false) {
						saveVote(voteBtn, currentPoemID, voteType, stdChange, function () {
							downvoted   = true;
							saveVote(voteBtn, currentPoemID, "upvote", -stdChange, function () {
								upvoted = false;
								refreshVotes(currentPoemID, statsClass);
							});
						});
						
					};
				});
			}
			var poemIndex = 0, queue = [], userID
			$.getJSON("../{{ request.user.id }}/getQueue", function(data) {
				var queue = data['queue'],
					userID = data['userID'];
					container = $(".container");

				
				$("#next").on('click', function() {
					if (poemIndex < queue.length) {
						container.fadeOut(500, function () {

							container.load(requestPoem(queue[poemIndex], ".poemContent"), function( ) {
									poemIndex += 1;
									container.fadeIn(200);
									handleVotes(".vote-btn", "#downvotes");
								});
						});		
					}
					else {
						container.fadeOut(500, function () {

							$(".poemContent").html("<h1>That's it for you!</h2>")
							container.fadeIn(200, function ( ) {
								poemIndex = 0;
							});

						
						});		
						
					};
				});
			});

			

		})();
	</script>
</body>
