<html>
	<head>
		<!-- <script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script> -->
		<title>{{poem.title}}</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script   src="https://code.jquery.com/jquery-3.1.0.js"   integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="   crossorigin="anonymous"></script>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static './poem/style/main.css' %}">
		<script type="text/javascript">
			function getCookie(name) {
			    var cookieValue = null;
			    if (document.cookie && document.cookie != '') {
			        var cookies = document.cookie.split(';');
			        for (var i = 0; i < cookies.length; i++) {
			            var cookie = jQuery.trim(cookies[i]);
			            // Does this cookie string begin with the name we want?
			            if (cookie.substring(0, name.length + 1) == (name + '=')) {
			                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
			                break;
			            }
			        }
			    }
			    return cookieValue;
			}
			var csrftoken = getCookie('csrftoken');
			function csrfSafeMethod(method) {
		    // these HTTP methods do not require CSRF protection
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
			    beforeSend: function(xhr, settings) {
			        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
			            xhr.setRequestHeader("X-CSRFToken", csrftoken);
			        }
			    }
			});
		</script>
	</head>
	<body>
		<div class = "container" >
			<div class = "col-xs-offset-2 col-xs-8 poemContent" data-pk= {{poem.pk}}>
				<h1><a href = /{{poem.pk}}> {{poem.title}}</a></h1>
				<p class = "poem-text">{{poem.text}}</p>
				<a href = "..{% url 'user:showUser' poem.author.user.username %}" class = "poem-author"><p class = "small">{{poem.author.user.username}}</p></a>
				<p class="small">{{poem.creation}}</p>
				<p class = "small">Down: <span id="downvotes"> {{poem.downvotes}} </span> - Up: <span id="upvotes">{{poem.upvotes}} </span></p>

				<div class="col-xs-offset-5 col-xs-2">
					<div class = "vote-btn glyphicon glyphicon-thumbs-up" data-vote = "1"></div>
					<div class = "vote-btn glyphicon glyphicon-thumbs-down" data-vote = "-1"></div>
					<div class="tag-holder">
						<div class="inner-tag-holder">
							{% for tag in poem.tags.all %}

								<span class = "tag"> {{ tag.tagName }} </span>
							{% endfor %}
						</div>
					</div>
				</div>
				<script type="text/javascript">
					// $(window).on('beforeunload', function (e) {
					// 	console.log(e)
					// })
					// (function(){
					// 	function refreshVotes(poemID, selector) {
					// 		$.getJSON("json/"+poemID, function(data) {
					// 							var firstVoteField = $(selector).first();
					// 							firstVoteField.text(" " + data['downvotes'] + " ").next().text(" " + data['upvotes'] + " ");
					// 						});
					// 		return data;
					// 	};

					// 	function saveVote(btn, currentPoemID, voteType, value, func) {
					// 		// btn is usually "this" in the onclick event
					// 		// types: upvote, downvote
					// 		$.post("vote", data = {vote: value, poemID: currentPoemID, type: voteType}, func);
					// 	}
					// 		var upvoted = false,
					// 		downvoted   = false,
					// 		buttonClass = ".vote-btn",
					// 		statsClass  = "#downvotes"
					// 		stdChange   = 1;
					// 	$(buttonClass).on('click', function() {
					// 		var currentPoemID = $('.poemContent').data('pk'),
					// 			voteBtn  = $(this),
					// 			voteType = voteBtn.data('vote');
					// 		if (upvoted === false && downvoted == false) {
					// 			saveVote(voteBtn, currentPoemID, voteType, stdChange, function () {
					// 				refreshVotes(currentPoemID, statsClass);
					// 				if (voteType == "upvote") {
					// 				    upvoted   = true;
					// 				}
					// 				else { 
					// 					downvoted = true;
					// 				};
					// 			});
					// 		}
					// 		else if (voteType == "upvote" && upvoted == false && downvoted == true) {
					// 			saveVote(voteBtn, currentPoemID, voteType, stdChange, function () {
					// 				upvoted = true;
					// 				saveVote(voteBtn, currentPoemID, "downvote", -stdChange, function () {
					// 					downvoted = false;
					// 					refreshVotes(currentPoemID, statsClass);
					// 			});
					// 			});
								
					// 		}
					// 		else if (voteType   == "downvote" && upvoted == true && downvoted == false) {
					// 			saveVote(voteBtn, currentPoemID, voteType, stdChange, function () {
					// 				downvoted   = true;
					// 				saveVote(voteBtn, currentPoemID, "upvote", -stdChange, function () {
					// 					upvoted = false;
					// 					refreshVotes(currentPoemID, statsClass);
					// 			});
					// 			});
								
					// 		};
					// 	});

					// })();
				</script>
			</div>
		</div>
		<script type="text/javascript">
			
			(function(){
				var username = '{{ request.user }}',
				nextQueue = [],
				poemID = {{ poem.pk }}
				container = $(".container"), 
				vote = 0,
				buttonClass = '.vote-btn',
				start = new Date(),
				windowVar = $(window);

				function changeVote(btnObj) {
					vote = btnObj.data('vote')
					// console.log(vote)
				}
				function markRead() {
					end = new Date()
					data = {'poemID': poemID, 'start': start.getTime(), 'end': end.getTime(), 'vote': vote, 'username': username}
					$.post("/markRead", data);
					console.log(data);
					vote = 0
				}

				buttonClassVar = $(buttonClass); //Initial queue, provided in request
				buttonClassVar.on('click', function() {
						changeVote($(this));
					});
				$(window).on('beforeunload', function(){
				      	console.log('beforeunload');
				      	end = new Date()
						data = {'poemID': poemID, 'start': start.getTime(), 'end': end.getTime(), 'vote': vote, 'username': username};
						console.log(data);
						$.post("/markRead", data);
						console.log(data);
						vote = 0
				      	//markRead();
				});

			})();
		</script>
	</body>
</html>