{% load static %}
@font-face {
  font-family: Playfair;
  src: url("{% static './poem/font/PLayfairDisplay-Regular.otf' %}") format("opentype");
}
p, h1, h2, h3, .glyphicon, input, label  {
	color: #FCFCFC;
	white-space: pre-wrap;
  position: relative;
  z-index: 2;

}
h1, h2 {
  /*font-family: 'Lora', serif;*/
  /*font-family: 'Abril Fatface', cursive;*/
  /*font-family: 'Cherry Swash', cursive;*/
  /*font-family: 'Yeseva One', cursive;*/
  font-family: 'Playfair';
}
h1{
  font-size: 4em;
}

p, input, label {

  font-family: 'Roboto', sans-serif;

  /*font-family: 'Source Sans Pro', sans-serif;*/
  /*font-family: 'Lato', sans-serif;*/
  font-weight: 200;
}
h3{
  font-weight: 100;
}
h3, p, textarea {
  font-size: 1.75em;
}
textarea {
  font-size: 100%;
}
.small {
  font-size: 1em;
}

#menu  h3 {
  text-align: right;
  margin-right: 2em;
}
#menu .bottom-of {

  position: fixed;
  bottom: -.3em;
  left: 7.3em;
}
#menu p, h1,h2, .glyphicon {
  text-align: left;
}

.glyphicon-chevron-up {
  vertical-align: 15px;
}


.pressed {
  color: #e8713a;
}



.margins{
  padding-right: 15em;
}

input, textarea, button{
  /*width: 35%;*/
  padding-left: .5em;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 10px;
  background-color: #306953;
  border: none;
  animation: pulseFrame 600s infinite;
}
input:-webkit-autofill, textarea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #306953 inset;
    -webkit-text-fill-color: white !important;
    background-clip: content-box;
}
/*input:*/


::-webkit-input-placeholder { /* Chrome */
  padding-left: .1em;
  text-transform: lowercase;
  color: white;

}
:-ms-input-placeholder { /* IE 10+ */
  padding-left: .1em;

  color: white;
  text-transform: lowercase;

}
::-moz-placeholder { /* Firefox 19+ */
  padding-left: .1em;

  color: white;
  opacity: 1;
  text-transform: lowercase;

}
:-moz-placeholder { /* Firefox 4 - 18 */
  padding-left: .1em;

  color: white;
  text-transform: lowercase;

}



form p {
  padding-bottom: .75em;
}


.btn {
	background-color:#D3CFFF;
	color:  #6056B2;
}


.text-center {
	text-align: center;
}

.tag {
	background-color: #D3CFFF;
	border-radius: 2px;
	margin: 3px;
	padding: 3px;
	padding-bottom: 1px;
	padding-top: 1px;
}
.tag-holder {
	border-top: 2px solid #D3CFFF;
	border-radius: 4px;
	margin-top: 10px;
}
.inner-tag-holder {
	margin: 5px;
}
.poem-text {
	word-wrap: normal;
}
a, a:hover,  a:active, a:visited {
	color: inherit;
	text-decoration: none;
}
#menu {
  background-color: #C95757;
  animation: pulseFrame 600s infinite;

}

.italic {
  font-style: italic;
}
.thin {
  font-weight: 200;
}


#menu {
  padding-top: 6.8em;
  position: fixed;
  top: 0;
  left: 0;
  width: 15em;
  height: 100vh;


}
#nav {
  position: fixed;
  bottom: 2em;
  left: 2em;

}

#main-content {
  padding-top: 1.5em;
  padding-left: 18em;
  width: 100%;


}
.poem-text {
  position: relative;
  display: inline-block;

}
.whitespace-next {
  position:fixed;
  top:0;
  left:5em;
  width:100%;
  height: 100%;
  margin-left: 15em;
}
#next-notif {
  position: fixed;
  top: 10vh;
  right: 5em;
  width: 30vw;
  min-width: 20em;
  height: 80vh;
  border:6px;
  border-color: rgba(255, 255, 255, .4);
  border-radius: 3px;
  border-style: solid;
  background-color: rgba(255, 255, 255, .1);
  z-index:-1;
  display: none;
}
#next-notif p {
  padding: 4em;
  text-align: center;
  font-weight: 200;
}

body {
  background-color: #e86a6a;

  animation: pulse 600s infinite;
}

@keyframes pulse {
  0% {
    background-color: #2a5b48;
  }
  10% {
    background-color: #63b7a8;
  }
  20% {
    background-color: #871451;
  }
  30% {
    background-color: #e86a6a;
  }
  40% {
    background-color: #556d8c;
  }
  50% {
    background-color: #5392c5;
  }
  60% {
    background-color: #562656;
  }
  70% {
    background-color: #e86a6a;
  }
  80% {
    background-color: #556d8c;
  }
  90% {
    background-color: #001F3F;
  }

  100% {
    background-color: #001F3F;
  }
}

@keyframes pulseFrame {
  0% {
    background-color: #306953;
  }
  10% {
    background-color: #38B7A8;
  }
  20% {
    background-color: #660F3D;
  }
  30% {
    background-color: #C95757;
  }
  40% {
    background-color: #7DA1CF;
  }
  50% {
    background-color: #7879A3;
  }
  60% {
    background-color: #7D377D;
  }
  70% {
    background-color: #E1525A;
  }
  80% {
    background-color: #ADA5D4;
  }
  90% {
    background-color: #2C3061;
  }

  100% {
    background-color: #004063;
  }
}

