p, h1, h2, .glyphicon, input  {
	color: #FCFCFC;
	white-space: pre-wrap; 
	text-align: center;
}
.pressed {
  color: #bfc0c1;
}
.glyphicon-triangle-right {
  font-size: 5vh;
  margin: 1vh;
}

.vote-btn {
  font-size: 4vh;
  margin: 1.5vh;
  vertical-align: .5vh;
}

input, textarea{
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 10px;
  animation: pulseFrame 600s infinite;
  border: none;


  /*border-color:  #63b7a8;
  background-color:  #63b7a8;*/
}

::-webkit-input-placeholder { /* Chrome */
  color: white;

}
:-ms-input-placeholder { /* IE 10+ */
  color: white;

}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;

}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
}

.submit-input textarea {
  width: 100%;
  /*height: 50vh;*/
  text-align: center;
  font-size: 1em;
}


/*.input-section input {
  float: right;

}
.input-section label{
  float:left;
}*/

form p {
  padding-bottom: .75em;
}
h2 {
  padding-bottom: 1em;
}

.btn {
	background-color:#D3CFFF;
	color:  #6056B2;
}
p {
	font-size: 1.5em;
}


.head-title {
	text-align: center;
}
.small {
	font-size: .75em;
}
.text-center {
	text-align: center;
}
/*.frame {

	height: 80vh;
	overflow-y: scroll;
}*/
/*.vote-btn {
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}*/
/*body {
	background-color: #6056B2;
}*/

.tag {
	background-color: #D3CFFF;
	border-radius: 2px;
	margin: 3px;
	padding: 3px;
	padding-bottom: 1px;
	padding-top: 1px;
}
.tag-holder {
	border-top: 2px solid #D3CFFF;
	border-radius: 4px;
	margin-top: 10px;
}
.inner-tag-holder {
	margin: 5px;
}
.poem-text {
	word-wrap: normal;
}
a, a:hover,  a:active, a:visited {
	color: inherit;
	text-decoration: none;
}
#nav {
  animation: pulseFrame 600s infinite;
  height: 7vh;

}
#menu{
  animation: pulseFrame 600s infinite;
  height: 8vh;
}
#menu p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2vh;
}


body {
  padding-top: 8vh;
  padding-bottom: 10vh;
  width: 100%;
  height: 100%;
  animation: pulse 600s infinite;
}

@keyframes pulse {
  0% {
    background-color: #2a5b48;
  }
  10% {
    background-color: #63b7a8;
  }
  20% {
    background-color: #871451;
  }
  30% {
    background-color: #e86a6a;
  }
  40% {
    background-color: #556d8c;
  }
  50% {
    background-color: #5392c5;
  }
  60% {
    background-color: #562656;
  }
  70% {
    background-color: #e86a6a;
  }
  80% {
    background-color: #556d8c;
  }
  90% {
    background-color: #001F3F;
  }

  100% {
    background-color: #001F3F;
  }
}
@keyframes pulseFrame {
  0% {
    background-color: #306953;
  }
  10% {
    background-color: #38B7A8;
  }
  20% {
    background-color: #660F3D;
  }
  30% {
    background-color: #C95757;
  }
  40% {
    background-color: #7DA1CF;
  }
  50% {
    background-color: #7879A3;
  }
  60% {
    background-color: #7D377D;
  }
  70% {
    background-color: #E1525A;
  }
  80% {
    background-color: #ADA5D4;
  }
  90% {
    background-color: #2C3061;
  }

  100% {
    background-color: #004063;
  }
}


/*html,
body {
  height: 100%;
}*/