{% extends "poem/base.html" %}

{% block title %}PoemRad.io{% endblock %}

{% block mobileNav %}
            <div class = "navbar navbar-fixed-bottom voter-bar">
                <div class = "col-xs-4"><p class = "vote-btn glyphicon glyphicon-chevron-up upvote" data-vote = "1"></p></div>
                <div class = "col-xs-4"><p class = "next">NEXT</p></div>
                <div class = "col-xs-4"><p class = "vote-btn glyphicon glyphicon-chevron-down downvote next" data-vote = "-1"></p></div>
            </div>
{% endblock %}

{% block mainCode %}

<script type="text/javascript">
	(function(){
				var queue = {{ queue }},
				nextQueue = [],
				queueRequested = false,
            	container = $(".content-container");
				;

				function nextPage(){
					markRead();
					poemID = queue.pop();
					// console.log("current queue:", queue)
					// console.log("next queue:", nextQueue)

					if (queue.length == 0) {
						queue = nextQueue;
						nextQueue = [];
					}
					if ((queue.length == 3)&&(!queueRequested)) {
						queueRequested = true;
						$.getJSON('user/' + username + '/getQueue', function (data) {
							queueRequested = false;
							username = data['username'];
							nextQueue = data['queue'];

						} )
					}
					container.fadeOut(300, function () {
						container.load(requestLoad(poemID, ".poem-content"), function( ) {
										container.fadeIn(300);
										start = new Date();
										voteListener(buttonClass);
										// changeVote(0);
									});
					})
				}

				// Begin queue, load first poem
				container.fadeOut(200, function () {
								poemID = queue.pop()
								start = new Date()  //Start timer
								container.load(requestLoad(poemID, ".poem-content"), function( ) {

										voteListener(buttonClass)
										container.fadeIn(200, function(){
											// Load next-identifier if mobile size
											if($("#menu").css('display') != "none"){
												$('#next-notif').delay(300).fadeIn(500).delay(3000).fadeOut(500);
											}
										});
										
									});
							});	

				nextBtn.click(function(e){
					e.preventDefault()
					nextPage();
				});
				$(document).on('keydown', function(e){
					if(e.which == 39){
						nextPage();
					}
					else if(e.which == 76){
						if(vote == 1){
							changeVote(0);
						}
						else{
							changeVote(1);
						}
					}
					else if(e.which == 68 || e.which == 186){
						if(vote == -1){
							changeVote(0);
						}
						else{
							changeVote(-1);
						}
					}
					
				});

			})();
		</script>

{% endblock %}
