{% extends "poem/base.html" %}

{% block content %}

			<div class = "poem-content" data-pk= {{poem.pk}}>
				<h1 class="title"><a href = /{{poem.pk}}>{{poem.title}}</a></h1>

				<p class = "poem-text">{{poem.text}}</p><br>
				<p class = "vote-btn glyphicon glyphicon-chevron-up upvote" data-vote = "1"></p>
				<p class = "vote-btn glyphicon glyphicon-chevron-down downvote" data-vote = "-1"></p>
				<a href = "..{% url 'user:showUser' poem.author.user.username %}" class = "poem-author"><p class = "small">{{poem.author.user.username}}</p></a>
				<!-- <p class = "small">Down: <span id="downvotes"> {{poem.downvotes}} </span> - Up: <span id="upvotes">{{poem.upvotes}} </span></p> -->
			</div>

{% endblock %}

{% block mainCode %}
<script type="text/javascript">

	(function(){
		var poemID = {{ poem.pk }},
		start = new Date(),
		windowVar = $(window);
		buttonClassVar = $(buttonClass); //Initial queue, provided in request
		buttonClassVar.on('click', function() {
				changeVote($(this));
			});
		windowVar.on('beforeunload', function(){
		      	console.log('beforeunload');
		      	end = new Date()
				data = {'poemID': poemID, 'start': start.getTime(), 'end': end.getTime(), 'vote': vote, 'username': username};
				$.post("/markRead", data);
				vote = 0
		      	//markRead();
		});

	})();

</script>
{% endblock %}
