{% extends "poem/base.html" %}

{% block content %}

			<div class = "col-xs-offset-2 col-xs-8 poemContent" data-pk= {{poem.pk}}>
				<h1><a href = /{{poem.pk}}> {{poem.title}}</a></h1>
				<p class = "poem-text">{{poem.text}}</p>
				<a href = "..{% url 'user:showUser' poem.author.user.username %}" class = "poem-author"><p class = "small">{{poem.author.user.username}}</p></a>
				<p class="small">{{poem.creation}}</p>
				<p class = "small">Down: <span id="downvotes"> {{poem.downvotes}} </span> - Up: <span id="upvotes">{{poem.upvotes}} </span></p>

				<!-- <div class="col-xs-offset-5 col-xs-2">
					<div class = "vote-btn glyphicon glyphicon-thumbs-up" data-vote = "1"></div>
					<div class = "vote-btn glyphicon glyphicon-thumbs-down" data-vote = "-1"></div>
					<div class="tag-holder">
						<div class="inner-tag-holder">
							{% for tag in poem.tags.all %}

								<span class = "tag"> {{ tag.tagName }} </span>
							{% endfor %}
						</div>
					</div>
				</div> -->
			</div>

{% endblock %}

{% block mainCode %}
<script type="text/javascript">

	(function(){
		var poemID = {{ poem.pk }},
		start = new Date(),
		windowVar = $(window);

		buttonClassVar = $(buttonClass); //Initial queue, provided in request
		buttonClassVar.on('click', function() {
				changeVote($(this));
			});
		$(window).on('beforeunload', function(){
		      	console.log('beforeunload');
		      	end = new Date()
				data = {'poemID': poemID, 'start': start.getTime(), 'end': end.getTime(), 'vote': vote, 'username': username};
				console.log(data);
				$.post("/markRead", data);
				console.log(data);
				vote = 0
		      	//markRead();
		});

	})();

</script>
{% endblock %}
