{% extends "poem/base.html" %}
{% block title %}Submit to PoemRad.io{% endblock %}

{% block content %}
			<div class = 'row'>
				<h1>Post a Poem</h1>
			</div>
			<div class = "row">
				<form action="/submit" method = "post">
				<div class = "submit-poem">

					{% csrf_token %}
				    <p>{{ form.title }} </p>
				    {{ form.title.errors }}
					<p id="ck-button"><label>{{form.centered}}<span>centered</span>
					   </label></p>
				    <p>{{ form.text }} </p>
				    {{ form.text.errors }}
				    <p class = "small markdown-note">markdown key: *<span class = "italic">italic </span>*, **<span class = "bold">bold</span>**, ***<span class = "italic bold">italic bold</span>***</p> 
				    <p>{{ form.source }} </p>
				    {{ form.source.errors }}

						<p><input type="submit" value="submit" /></p>
				</form>
			</div>
			

{% endblock %}