{% extends "poem/base.html" %}
{% block title %}Submit to PoemRad.io{% endblock %}

{% block content %}
		<div class = 'row'>
			<h1>Post a Poem</h1>
			</div>
			<div class = "row">
				<form action="/submit" method = "post">
				<div class = "submit-poem">
					{% csrf_token %}

					{% for field in form %}


					<div class="submit-input">
						<p>{{ field }}</p>
						
						{% if form.errors %}
				            {% for error in field.errors %}
				            <p class="error-message small">{{ error|escape }}</p>
				            {% endfor %}
				        {% endif %}
				        {% if field.help_text %}
					        <p class="help">{{ field.help_text|safe }}</p>
					    {% endif %}
					</div>
				

					{% endfor %}
				
						<div class = "submit-input">	
							<input class="col-xs-2" type="submit" value="Submit" />
						</div> 
					</div>
				</form>
			</div>

{% endblock %}