<head>
{% load staticfiles %}
    <script src="{% static './poem/js/jquery.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static './poem/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './poem/style/main.css' %}">
    <title>{% block title %} PoemRad.io {% endblock %}</title>
    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
        function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
</head>
<body>

    <div id = "menu" class = "navbar navbar-fixed-top">
        <div class = "row">
            <div class = "col-xs-3 top">
                <a href="./"><p>PoemRad.io</p></a>
            </div>
            <div class = "col-xs-3 top">
                <a href ="/submit"><p>Submit poetry</p></a>
            </div>
            <div class = "col-xs-3 top">
                <a href = "/accounts/signup"><p>Sign up</p></a>
            </div>
            <div class = "col-xs-3 top">
                <a href = "/accounts/login"><p>Log in</p></a>
            </div>
        </div>
    </div>
    <div class = "frame">
        
        <div class = "container col-xs-6 col-xs-offset-3" >
            {% block content %}

            {% endblock %}
        </div>
    </div>
    {% block navBar %}

    {% endblock %}
    {% block baseQueueCode %}

    {% endblock %}
    {% block mainCode %}
          <!-- Code specific to the page -->
    {% endblock %}
</body>
