<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400" rel="stylesheet">

        {% load staticfiles %}
        <script src="{% static './poem/js/jquery.min.js' %}"></script>
        <script src="{% static './poem/js/bootstrap.min.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="{% static './poem/css/bootstrap.min.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:600" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static './poem/style/main.css' %}">
        <title>{% block title %} PoemRad.io {% endblock %}</title>
    <script type="text/javascript">
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
            function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        </script>
        
    </head>
    <body>



<nav class="navbar navbar-default">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="/"><h3>PoemRad.io</h3></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class = "row nav navbar-nav async-load">
            <a href="/submit"><h3>SUBMIT</h3></a>
        </div>
        {% if not user.is_authenticated %}
            <div class = "row nav navbar-nav async-load">

                <a href = "/accounts/signup"><h3>SIGN UP</h3></a>

            </div>
        {% endif %}
        <div class = "row nav navbar-nav async-load">
            {% if user.is_authenticated %}

            <a href = "/accounts/logout"><h3>LOGOUT</h3></a>

            {% else %}
            <a href = "/accounts/login"><h3>LOGIN</h3></a>
            {% endif %}
        </div>
    <div class = "bottom-of row nav navbar-nav async-load">
        <a href="/termsandprivacy"><h3 class = "small">Terms & Privacy</h3></a>
    </div>

  </div>
</nav>
            <div id = "menu">
                <div class = "row">
                    <a href="/"><h3>PoemRad.io</h3></a>
                </div>
                <div class = "row async-load">
                    <a href="/submit"><h3>SUBMIT</h3></a>
                </div>
                {% if not user.is_authenticated %}
                    <div class = "row async-load">

                        <a href = "/accounts/signup"><h3>SIGN UP</h3></a>

                    </div>
                {% endif %}
                <div class = "row async-load">
                    {% if user.is_authenticated %}

                    <a href = "/accounts/logout"><h3>LOGOUT</h3></a>

                    {% else %}
                    <a href = "/accounts/login"><h3>LOGIN</h3></a>
                    {% endif %}
                </div>
                <div class = "row async-load">

                    {% block navBar %}

                    {% endblock %}
                </div>
                <div class = "bottom-of row async-load">
                    <a href="/termsandprivacy"><h3 class = "small">Terms & Privacy</h3></a>
                </div>
            </div>
            <div id = "main-content" >
                <div class = "content-container">
                    {% block content %}
                    <div class = "poem-content" data-pk="-1">

                        <h1></h1>
                        <!-- <p>PoemRad.io operates uses Javascript to show you the poems you want to see.  Make sure to <a href = "http://www.enable-javascript.com">enable Javascript.</a>  There have also been bugs using Apple's Safari browser.</p> -->

                    </div>
                    {% endblock %}
                </div>
            </div>
            <a href="/"><div class = "whitespace-next next">
                
            </div></a>
            <div id = "next-notif">
                <p>Click away from the poem or press &#8594; to go to the next piece</p>
            </div>
            {% block mobileNav %}

            {% endblock %}

        <script type="text/javascript">
            var menuItems = $("#menu .async-load"),
            container = $(".content-container");
            $(window).on('click', function(){
                // console.log("old", $("#menu").css('background-color'));
            })
            menuItems.on('click', function(e){
                e.preventDefault();
                var URL = $(this).children().first().attr('href')
                container.fadeOut(300, function () {
                    container.load(URL + " .content-container", function( ) {
                        var color = $("#menu").css('background-color');
                        $("input, textarea, button").css('background-color', color, 'important');
                        $("input[type=text], input[type=submit], input[type=email],input[type=password], textarea, button").css('-webkit-box-shadow', "0 0 0px 1000px " + color + " inset");

                        container.fadeIn(200);

                    });
                });
            });

        </script>
        {% block queueCode %}

        {% endblock %}
        {% block mainCode %}
              <!-- Code specific to the page -->
        {% endblock %}
    </body>
</html>
